* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-body: rgba(235, 255, 245, 1);
  --color-primary: rgba(79, 183, 131, 1);
  --color-secondary: rgba(3, 69, 97, 1);
  --color-title: rgba(3, 69, 97, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-white: #fff;


  /*section*/
  --section-padding:95px;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}
input {
  width: 100%;
}
button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  color: var(--color-text);
  background-color: var(--color-body);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
}

/* classes Gerais  */

.section {
  padding-block: 95px;
}
.container{
  padding-inline: 100px;
}

.btn-primary{
  width: 155px;
  height: 35px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 12px;
  transition: .4s ease-in-out;
}
.btn-primary:hover{
  filter: brightness(1.2);
}
.btn-secondary {
  width: 155px;
  height: 35px;
  background-color: var(--color-while);
  color: var(--color-text);
  border-radius: 12px;
  border: 1px solid var(--color-primary);
  transition: .4s ease-in-out;
}
.btn-secondary:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
}



/* style Header */

.header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 53px;
  align-items: center;
}

.navbar .link {
  font-size: 20px;
  font-weight: 400;
  transition: .4s ease-in-out;
}

.navbar .link:hover {
  letter-spacing: 2px;
}

.underline-container {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 20px;
}

.underline {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
  transition: .4s ease-in;
}

.underline::before,
.underline-container::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: -1px;
  left: 15px;
  background-color: rgba(42, 165, 144, 0.459);
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.current {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(42, 165, 144, 0.459);
  z-index: 1;
}
.link.underline.current-url {
  font-weight: 600;
  color: #000;
}